.container {
  @include container(false, $spacing: 0);
  @include adaptive();
  background-color: blue;
}

.row {
    @include row(0, $layout: flex, $o:(
    valign: stretch
  ));
}

.column {
  @include column($layout: flex);
}

.footer {
  @include bar-bottom($variant: a);
}

  /* Hiding video controls
  * See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
  * --------------------------------------- */
  video::-webkit-media-controls {
    display:none !important;
  }

  .myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
      background-image: /* our video */;
      background-position: center center;
      background-size: contain;
      object-fit: cover; /*cover video background */
      z-index:3;
  }

    /* Layer with position absolute in order to have it over the video
  * --------------------------------------- */
  #home .layer{
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 43%;

    /*
    * Preventing flicker on some browsers
    * See http://stackoverflow.com/a/36671466/1081396  or issue #183
    */
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  /*solves problem with overflowing video in Mac with Chrome */
  #home{
    overflow: hidden;
  }
