<div class="container">
  <header>
    <h1>Hello </h1>
    <p>I create beautiful design and engaging experiences to help brands flourish. I’m passionate about doing great work with great people: I’ve worked with big brands and one-man bands, designing websites, brand identity and print work to help them grow.</p>
  </header>

  <div class="row">
    <div class="column pic"></div>
    <div class="column info">
    </div>
  </div>
</div>
