    <div class="container">
      <header>
        <h1>contact</h1>
        <p>And it will animate down to the first section</p>
      </header>
      <p>And it will animate down to the first section<br />And it will animate down to the first section</p>
    </div>
    <footer class="footer" role="contentinfo">
      <p>Copyright 2009 Your name</p>
    </footer>
