    <div class="slide" id="slide1" data-anchor="slide1">
      <video class="joomla" loop muted data-autoplay>
        <source data-src="assets/videos/Joomla-Video-Background.mp4" type="video/mp4">
        <source data-src="assets/videos/Joomla-Video-Background.webm" type="video/webm">
      </video>
      <div class="overlay"></div>
      <div class="layer">
        <div class="container">
          <div class="headline">
            <h1>Creative. Design. Technology.</h1>
            <p>Senior Web Developer</p>
          </div>
        </div>
      </div>
    </div>

    <div class="slide" id="slide2" data-anchor="slide2">
      <video class="aloha-mundo" loop muted data-autoplay>
        <source data-src="assets/videos/Aloha-Mundo.mp4" type="video/mp4">
        <source data-src="assets/videos/Aloha-Mundo.ogv" type="video/ogv">
        <source data-src="assets/videos/Aloha-Mundo.webm" type="video/webm">
      </video>
      <div class="layer">
        <div class="container">
          <div class="headline">
            <h1>slide2</h1>
            <p>assets/videos/Aloha-Mundo.webm And it will animate down to the first section</p>
          </div>
        </div>
      </div>
    </div>

    <div class="slide" id="slide3" data-anchor="slide3">
      <video class="work-space" loop muted data-autoplay>
        <source data-src="assets/videos/Work-Space.mp4" type="video/mp4">
        <source data-src="assets/videos/Work-Space.webm" type="video/webm">
      </video>
      <div class="layer">
        <div class="container">
          <div class="headline">
            <h1>slide3</h1>
            <p>assets/videos/Work-Space.webmAnd it will animate down to the first section</p>
          </div>
        </div>
      </div>
    </div>
