<header id="header" role="banner">
  <div class="container">
    <div class="row-header">

      <div class="brand">
        <h3>Maria Rabelero</h3>
        <img src="images/logo.svg">
      </div>

      <nav role='navigation' class="navigation">
        <ul id="menu" class="pages-nav">
          <li data-menuanchor="home">
            <a class="link link--page" href="#home">Home</a>
          </li>
          <li data-menuanchor="services">
            <a class="link link--page" href="#services">Services</a>
          </li>
          <li data-menuanchor="about">
            <a class="link link--page" href="#about">About</a>
          </li>
          <li data-menuanchor="work">
            <a class="link link--page" href="#work">Work</a>
          </li>
          <li data-menuanchor="contact">
            <a class="link link--page" href="#contact">Contact</a>
          </li>
        </ul>
      </nav> 

    </div> 
  </div>
</header>
