    <div class="container">
      <header>
        <h1>work</h1>
        <p>And it will animate down to the first section</p>
      </header>
      <p>And it will animate down to the first section<br />And it will animate down to the first section</p>
    </div>
