{# index.twig #}
{% extends "templates/_layout.twig" %}

{% block page %}

    <article id="fullpage">

      <section class="section">
        {% include 'components/_section1.twig' %}
      </section>

      <section class="section">
        {% include 'components/_section2.twig' %}
      </section>
      <section class="section">
        {% include 'components/_section3.twig' %}
      </section>
      <section class="section">
        {% include 'components/_section4.twig' %}
      </section>
      <section class="section">
        {% include 'components/_section5.twig' %}
      </section>

  </article>

{% endblock %}
