{# index.twig #}
{% extends "templates/_layout.twig" %}

{% block page %}
  <header>
    <div class="wrap">
      <h3 class="mahbrand">Maria Rabelero</h3>
      <nav>
        <ul id="menu">
          <li data-menuanchor="firstPage"><a href="#firstPage">First section</a></li>
          <li data-menuanchor="secondPage"><a href="#secondPage">Second section</a></li>
          <li data-menuanchor="thirdPage"><a href="#thirdPage">Third section</a></li>
          <li data-menuanchor="fourthPage"><a href="#fourthPage">Fourth section</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div id="fullpage">

      <section class="section" id="section0">
        <div class="slide" data-anchor="slide1">
          <h1>"slide1"</h1>
          <p>Continuous Scrolling Enabled</p>
        </div>
        <div class="slide" data-anchor="slide2">
          <h1>"slide2"</h1>
          <p>Continuous Scrolling Enabled</p>
        </div>
        <div class="slide" data-anchor="slide3">
          <h1>"slide3"</h1>
          <p>Continuous Scrolling Enabled</p>
        </div>
        <div class="slide" data-anchor="slide4">
          <h1>"slide4"</h1>
          <p>Continuous Scrolling Enabled</p>
        </div>
      </section>

      <section class="section" id="section1">
        <canvas id="canvas"></canvas>
        <h1>Section2</h1>
        <p>Continuous Scrolling Enabled</p>
      </section>

      <section class="section" id="section2">
        <canvas id="canvas3"></canvas>
        <h1>Section33</h1>
        <p>Continuous Scrolling Enabled</p>
      </section>

      <section class="section" id="section3">
        <canvas id="canvas4"></canvas>
        <h1>Section4</h1>
        <p>Continuous Scrolling Enabled</p>
      </section>

    </div>
  </main>
{% endblock %}
