{# index.twig #}
{% extends "templates/_layout.twig" %}

{% block page %}

    <article id="fullpage">
      <section class="section" id="section1">
        {% include 'components/_section1.twig' %}
      </section>
      <section class="section" id="section2">
        {% include 'components/_section2.twig' %}
      </section>
      <section class="section" id="section3">
        {% include 'components/_section2.twig' %}
      </section>
      <section class="section" id="section4">
        {% include 'components/_section2.twig' %}
      </section>
      <section class="section" id="section5">
        {% include 'components/_section2.twig' %}
      </section>
  </article>

{% endblock %}
