{# index.twig #}
{% extends "templates/_layout.twig" %}

{% block page %}
<div id="fullpage" class="pages-stack" role="main">

  <div class="section" id="section0">
    {% include 'components/_home.twig' %}
  </div>

  <div class="section" id="section1">
    {% include 'components/_about.twig' %}
  </div>

  <div class="section" id="section2">
    {% include 'components/_skills.twig' %}
  </div>

  <div class="section" id="section3">
    {% include 'components/_work.twig' %}
  </div>

  <div class="section" id="section4">
    {% include 'components/_contact.twig' %}
  </div>

</div>
<!-- /pages-stack -->
<button class="menu-button"><span>Menu</span></button>
{% endblock %}
