@font-face {
    font-family: 'Dellux Script';
    src: url('DelluxScript.woff2') format('woff2'),
        url('DelluxScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

