@include fontface(a_little_sunshine, (
  filename: 'a_little_sunshine',
  short: false
));

@include fontface(laneup, (
  filename: 'laneup',
  short: false
));

@include fontface(laneposh, (
  filename: 'laneposh',
  short: false
));

@include fontface(daniel, (
  filename: 'daniel',
  short: false
));

@include fontface(neou_bold, (
  filename: 'neou_bold',
  short: false
));

@include fontface(neou_thin, (
  filename: 'neou_thin',
  short: false
));

$le-transiton: all 1.3s ease-in-out;
$le-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
// $le-box-shadow: box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
$opacity-min: .2;
$opacity-max: .8;

$le-sections-map: (
  'about': (
    nav: #df5c64,
    body: #A53641,
    image: '../img/svgfiles/about.svg',
  ),
  'skills': (
    nav: #7D637B,
    body: #534152,
    image: '../img/svgfiles/skills.svg',
  ),
  'work': (
    nav: #91C259,
    body: #6F9445,
    image: '../img/svgfiles/work.svg',
  ),
  'contact': (
    nav: #71BEAF,
    body: #64A79A,
    image: '../img/svgfiles/contact.svg',
  )
);

    #section1 h1{
      left: 130%;
      position:relative;
    }
    #section1 p{
      display:none;
    }
    #section2 h1{
      left: -130%;
      position:relative;
    }

