{# layout.twig #}
<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#" dir="ltr" itemscope itemtype="http://schema.org/website">
  {% include '../parts/_site-header-welcome.twig' %}
  <head>
    {% include '../parts/_site-header.twig' %}
  </head>
  <body>
    <section>
      {% block page %}{% endblock %}
    </section>
    {% include '../parts/_site-scripts.twig' %}
  </body>
</html>
