{# layout.twig #}
<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#" dir="ltr" itemscope itemtype="http://schema.org/WebPage" manifest="manifest.appcache">
  <head>
    {% include '../parts/_site-header.twig' %}
  </head>

  <body>
    <header>
      {% include '../parts/_site-menu.twig' %}
    </header>
    <main>
      {% block page %}{% endblock %}
    </main>
    {% include '../parts/_site-scripts.twig' %}
  </body>

</html>
